
    <div class="header">
        <div class="logo-icons">
            <img class="logo-image" src="static/images/logo.svg">
            <div class="car-user">
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-user"></i>
                <div class="texto-bienvenida">
                    <p class="mi-cuenta"><b>Mi cuenta</b></p>
                    <p class="crear-cuenta">Ingresa o crea tu cuenta</p>
                </div>
            </div>
        </div>

        <div class="search-bar">
            
            <input class="searchBox" type="search" placeholder="¿Qué estás buscando?">
            <i class="fas fa-search"></i>

        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="menu-options">
            <div class="category">
                <div class="burger-menu-category">
                    <i class="fas fa-bars"></i>
                    <p>Categorías</p>
                </div>
            </div>
            <p>Play Station</p>
            <p>XBOX</p>
            <P>Nintendo Switch</p>
            <p>Computadoras</p>
        </div>

    </div>
