<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b2691d171b.js" crossorigin="anonymous"></script>

    <title>Home a todos</title>
</head>
<body>
    <div class="header">
        <div class="logo-icons">
            <img class="logo-image" src="static/images/logo.svg">
            <div class="car-user">
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-user"></i>
                <div class="texto-bienvenida">
                    <p class="mi-cuenta"><b>Mi cuenta</b></p>
                    <p class="crear-cuenta">Ingresa o crea tu cuenta</p>
                </div>
            </div>
        </div>

        <div class="search-bar">
            
            <input class="searchBox" type="search" placeholder="¿Qué estás buscando?">
            <i class="fas fa-search"></i>

        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="menu-options">
            <div class="category">
                <div class="burger-menu-category">
                    <i class="fas fa-bars"></i>
                    <p>Categorías</p>
                </div>
            </div>
            <p>Play Station</p>
            <p>XBOX</p>
            <P>Nintendo Switch</p>
            <p>Computadoras</p>
        </div>

    </div>
</body>
</html>