@charset 'utf-8';

@import 'base/reset';
@import 'base/base';
@import 'base/typography';

@import 'components/buttons';
@import 'components/inputs';

@import 'layout/header';
@import 'layout/footer';
@import 'layout/forms';

@import 'pages/home';
@import 'pages/login';
@import 'pages/register';
@import 'pages/productCart';
@import 'pages/productDetail';
@import 'pages/createProduct';
@import 'pages/productList';