<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Home</title>
</head>

<body>
    <header>
         <%- include('../partials/header.ejs') %>
    </header>
   
    <div class="home">
        <div class="container-images-slider">
            <img class="image-home" src="/images/cyberpunk.png">
            <div class="titulo-juego-home">
                <p>Cyberpunk 2077</p>
                <button class="boton-juego-home" type="button">Comprar</button>
        
            </div>

        </div>

        <div class="barra-opciones-home">
            <div class="opcion-home-1">Lanzamientos</div>
            <div class="opcion-home-2">Ofertas</div>
            <div class="opcion-home-3">Recomendados</div>
            <div class="opcion-home-4">Más Vendidos</div>
        </div>

        <div class="nuevas-aventuras">
            <div class="opcion-aventuras-1">Explora nuevas aventuras</div>
            <div class="opcion-aventuras-2">Ver todos</div>
        </div>

        <div class="nueva-generacion">
            <p>Bienvenido a la<span class="segunda-parte"> nueva generación</span></p>
        </div>

        <div class="imagenes-consolas">
            <div class="consola-1">
                <div class="imagen-consola-1">
                    <img class="imagen-ps5" src="/images/ps5-controller.png">
                </div>
                <div class="info-consola-1">
                    <p class="nombre-consola">Play Station 5</p>
                    <p class="explorar">Explorar<span> ></span></p>
                </div>
            </div>

            <div class="consola-2">
                <div class="imagen-consola-2">
                    <img class="imagen-xbox" src="/images/xbox-controller.png">
                </div>
                <div class="info-consola-2">
                    <p class="nombre-consola">XBOX Series X</p>
                    <p class="explorar">Explorar<span> ></span></p>
                </div>
            </div>

            <div class="consola-3">
                <div class="imagen-consola-3">
                    <img class="imagen-switch" src="/images/switch-controller.png">
                </div>
                <div class="info-consola-3">
                    <p class="nombre-consola">Nintendo Switch</p>
                    <p class="explorar">Explorar<span> ></span></p>
                </div>
            </div>
        </div>

        <div class="pc-gaming">PC Gaming</div>

        <div class="secciones-pc-gaming">
            <div class="headphones-monitores">
                <div class="headphones">
                    <img class="imagen-headphones" src="/images/headphones.png">
                    <p>Accesorios</p>
                </div>

                <div class="monitores">
                    <img class="imagen-monitor" src="/images/curved-monitor.png">
                    <p>Monitores</p>
                </div>

            </div>

            <div class="sillas-gamer">
                <img class="imagen-silla" src="/images/silla-gamer.png">
                <p>Sillas Gamer</p>
            </div>


        </div>

    </div>
  
   
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>