//agregando padding para separar del footer
.home{
    padding-bottom: 50px;
}

//espacio donde irá la imagen del inicio, en la que aparecerá el boton de comprar
.container-images-slider{
    display: block;
    margin:0;
    width: 100%;
    height: 300px;
    position:relative;

    @include respond-to('tablet'){
        height: 500px;
    }
}

//imagen del inicio
.container-images-slider img{
    width: 100%;
    height: 300px;
    object-fit: cover;

    @include respond-to('tablet'){

        height: 100%;
    }

}

//formato de la caja que irá encima de la imagen. 
//En esta estará el nombre del juego y el botón comprar.
.titulo-juego-home{
    display: flex;
    flex-direction: column;
    background-color: $red;
    position:absolute;
    bottom:50px;
    right:20px;
    width:150px;
    height: 120px;
    font-size: 15px;
    border-radius: 5px;

    @include respond-to('tablet'){
        font-size: 15px;
        width:250px;
        height: 200px;
        right:100px;
        bottom:90px;
    }
}

//formato del texto dentro de la caja encima de la imagen en el home.
.titulo-juego-home p{
    font-size: 20px;
    padding-right:10px;
    padding-left: 10px;
    color:white;

    @include respond-to('tablet'){
        font-size: 30px;
    }

}

//formato del botón de la caja de la imagen principal del inicio
.boton-juego-home{
    width:80%;
    align-self: center;
    color:$red;
    font-weight: bold;

    @include respond-to('tablet'){
        padding:10px;
        position:relative;
        top:20px;
    }

}

.boton-juego-home:hover{
    border:solid 2px black;
    cursor: pointer;
}


//formato al contenedor que tendrá las opciones del menú de inicio
.barra-opciones-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $darkBlue;
    border-top: none;
    height:60px;
    color:white;
    align-items: center;
    padding-top:0;
    padding-bottom: 0;
    font-size: 14px;
    border-radius: 5px;

    @include respond-to('tablet'){
        width: 70%;
        margin: auto;
        position:relative;
        bottom: 30px;
    }
}

//formato a cada una de las opciones que compone la barra de inicio
//estas son: Lanzamientos, Ofertas, Recomendados, Más Vendidos
.barra-opciones-home div{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.barra-opciones-home div:hover{
    background-color: $red;
    border-top: solid 3px #31B7FB;
    cursor: pointer;
}

.nuevas-aventuras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 400px;
}

.nuevas-aventuras .opcion-aventuras-1{
    color:$darkBlue;
    font-size: 22px;
    font-weight: bold;
}

.nuevas-aventuras .opcion-aventuras-2{
    color:#31B7FB;
    font-size: 16px;
}

.nuevas-aventuras .opcion-aventuras-2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nueva-generacion{
    width: 70%;
    margin:auto;
    margin-bottom: 100px;
    text-align: center;
}

.nueva-generacion p{
    font-size: 28px;
    font-weight: bold;
}

.nueva-generacion .segunda-parte{
    color:$red;
}



.imagenes-consolas{
    margin:auto;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    width:70%;
    justify-content: center;
    align-items: center;

    @include respond-to('desktop'){
        width: 80%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.imagenes-consolas .consola-1,.consola-2,.consola-3{
    width: 300px;
    margin-bottom: 100px;

    @include respond-to('tablet'){
        width:400px;
    }

    @include respond-to('desktop'){
        width: 350px;
    }
}

.imagenes-consolas .imagen-consola-1,.imagen-consola-2,.imagen-consola-3{
    width: 100%;
    height: 250px;
    position:relative;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    @include respond-to('tablet'){
        height: 300px;

    }
}

.imagenes-consolas .imagen-consola-1:hover,.imagen-consola-2:hover,.imagen-consola-3:hover{
    box-shadow:0px 0px 50px rgb(100, 100, 100);
    cursor: pointer;

}

.imagen-consola-1{
    background-color: #0464C2;
}

.imagen-consola-2{
    background-color: #107C10;
}

.imagen-consola-3{
    background-color: #DB0F1C;
}

.imagenes-consolas .imagen-ps5,.imagen-xbox,.imagen-switch{
    width: 250px;
    height: 250px;
    position:absolute;
    bottom: 60px;
    left:30px;

    @include respond-to('tablet'){
        width:250px;
        bottom: 80px;
        left:80px;

    }
}

.imagenes-consolas .info-consola-1,.info-consola-2,.info-consola-3{
    text-align: center;
}

.imagenes-consolas .nombre-consola{
    font-weight: bold;
    color: $darkBlue;
    font-size: 20px;
}

.imagenes-consolas .explorar{
    color: #31B7FB;
}

.imagenes-consolas .explorar:hover{
    color: #31B7FB;
    font-weight: 1000;
    cursor: pointer;
}

// Color al > rojo al costado de Explorar
.imagenes-consolas .explorar span{
    color:$red;
}


//formato al texto PC Gaming
.pc-gaming{
    width: 70%;
    margin:auto;
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    color:$darkBlue;
    margin-bottom: 70px;
    
    @include respond-to('desktop'){
        width: 80%;
    }
}

//formato de los cuadros de pc gaming, todos en versión mobile seran horizontales
// en versión escritorio serán dos horizontales y uno vertical
.secciones-pc-gaming{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    margin:auto;
    height: 700px;
    justify-content: space-between;

    @include respond-to('desktop'){
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        height: 500px;
    }

}

//formato al div que contiene cuadros de hedphones y monitores
.headphones-monitores{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 437px;

    @include respond-to('desktop'){
        width: 60%;
        height: 90%;     
    }
}

//tamaño de las imagenes de la seccion pc gaming

.secciones-pc-gaming .headphones-monitores img{
    width: 190px;
    position:absolute;
    bottom:40px;
    left: 25px;

    @include respond-to('desktop'){
        width:250px;
        bottom:50px;
    }

}

.secciones-pc-gaming .imagen-headphones,.imagen-silla{
    width: 190px;
    position:absolute;
    bottom:0px;
    left: 20px;

    @include respond-to('desktop'){
        width:250px;
        bottom: 30px;
    }

}

//colores a los fondos de cada uno de los cuadros de la seccion pc gaming
.secciones-pc-gaming .headphones,.monitores,.sillas-gamer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 170px;
    position: relative;
    border-radius: 10px;
    color: white;

    @include respond-to('desktop'){
        height: 215px;
    }
}

.secciones-pc-gaming .headphones:hover, .monitores:hover,.sillas-gamer:hover{
    cursor: pointer;
    box-shadow:0px 0px 50px rgb(100, 100, 100);
}

.secciones-pc-gaming .sillas-gamer{
    @include respond-to('desktop'){
        height: 90%;
        width:37%;
    }
}

.secciones-pc-gaming p{
    align-self: flex-end;
    padding-right: 50px;
    font-size: 32px;
    font-weight: bold;

}

.secciones-pc-gaming .headphones{
    background-color: #333333;
}

.secciones-pc-gaming .monitores{
    background-color: #043C60;
}

.secciones-pc-gaming .sillas-gamer{
    background-color: #F1A72A;
}