.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.login-2 {
    display: none;

    @include respond-to('desktop') {
        animation: slide 60s infinite;
        animation-timing-function: ease-out;
        background: url('../images/last-of-us2.png') center center no-repeat;
        background-size: cover;
        display: flex;
        height: 100vh;
        padding: 32px;
        position: relative;
        width: 60%;

        .login-img-text {
            align-self: flex-end;
            font-family: $primary-font;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: $white;
            z-index: 9;
        }
    }

    &:after {
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, .7) 10%, rgba(0, 0, 0, 0) 100%);
        content: '';
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@keyframes slide {
    25% {
        background: url('../images/luigui.jpg') center center no-repeat;
        background-size: cover;
    }

    50% {
        background: url('../images/cyber.jpg') center center no-repeat;
        background-size: cover;
    }

    75% {
        background: url('../images/tomb.jpg') center center no-repeat;
        background-size: cover;
    }

    100% {
        background: url('../images/last-of-us2.png') center center no-repeat;
        background-size: cover;
    }
}


.login-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    width: 95%;

    .logoBrand {
        align-self: flex-start;
        margin-bottom: 32px;
    }

    @include respond-to('tablet') {
        width: 80%;

        .logoBrand {
            margin-bottom: 180px;
        }
    }

    @include respond-to('desktop') {
        padding: 56px 5%;
        width: 40%;

        .logoBrand {
            align-self: flex-start;
            margin-bottom: 0;
        }
    }
}

.small-title-login {
    @extend .h4;
}

.welcome-login {
    color: $darkGrey;
    font-family: $secondary-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 40px;
}

.form-login {
    width: 100%;

    form {
        display: flex;
        flex-direction: column;

        a.linkSmall {
            margin-top: 12px;
            text-align: right;
        }

        .checkboxWrapper {
            margin: 32px 0 56px;
        }
    }

}

.btn-get-in {
    @extend .btn-primary;
    margin-bottom: 24px;

    @include respond-to('desktop') {
        margin-bottom: 0;
    }
}

.no-account {
    margin: 0;
    padding: 0;
}