.lista_productos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.titulo_precio_descripcion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 170vh;
}

.lista_productos{
    margin-top: 20px;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    padding-left: 20px;
}

.nombre_lista{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}


.precio_lista{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}

.descripcion_lista{
    margin-left: 10px;
    padding-right: 30px;
}

.button-list{
    font-size: 16px;
    align-self: center;
    height: 100px;
    font-weight: bold;
    margin-right: 15px;
    background-color: $red;
    color:white;
    border:none;
    @include respond-to('tablet'){
        font-size: 22px;
    }
}

.button-list:hover{
    border:solid 2px black;
    cursor: pointer;
}

.imagen_lista_productos{
    align-self: center;
    width:40%;
    height: 40%;

    @include respond-to('tablet'){
        width:10%;
    }
}