<div class="header">
    <div class="logo-icons">
        <a href='/'><img class="logo-image" src="/images/logo.svg"></a>
        <div class="car-user">
            <a href='/carrito-de-compras'><i class="fas fa-shopping-cart"></i></a>
            <a href='/login'><i class="fas fa-user"></i></a>
            <div class="texto-bienvenida">
                <a href='/login'><p class="mi-cuenta"><b>Mi cuenta</b></p></a>
                <a href='/login'><p class="crear-cuenta">Ingresa o crea tu cuenta</p></a>
            </div>
        </div>
    </div>

    <div class="search-bar">

        <input class="searchBox" type="search" placeholder="¿Qué estás buscando?">
        <i class="fas fa-search"></i>

    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>

    <div class="menu-options">
        <div class="category">
            <div class="burger-menu-category">
                <i class="fas fa-bars"></i>
                <p>Categorías</p>
            </div>
        </div>
        <p>Play Station</p>
        <p>XBOX</p>
        <P>Nintendo Switch</p>
        <p>Computadoras</p>
    </div>

</div>