<div class="header">
    <div class="triggerMenu" id="showLeft">
        <img src="/images/iconMenu.svg" alt="abrir menu mobile">
        <a href="#">Categorias</a>
    </div>

    <a href="/" class="logo-image" target="_self">
        <img src="/images/logo.svg" alt="Gambox logo - Ir al inicio">
    </a>

    <div class="userActions">
        <a href="#" class="userCart">
            <img src="/images/iconCart.svg" alt="Ver productos en mi carrito">
        </a>

        <a href="#" class="userAccount">
            <img src="/images/iconUser.svg" alt="Iniciar sesión">
            <div class="userAccountInfo">
                <p>Mi cuenta</p>
                <span>Ingresa o crea tu cuenta</span>
            </div>
        </a>
    </div>

    <form id="searchBar" action="/" method="GET" autocomplete="off">
        <input type="text" id="searchBar" name="searchBar" placeholder="¿Qué estas buscando?">
    </form>

    <nav class="sideMenu" id="sideMenu">
        <ul class="menu">
            <li class="itemMenu">
                <span>Consolas</span>
                <img src="" alt="Ir a la sección consolas">
            </li>
            <li class="itemMenu">
                <span>Videojuegos</span>
                <img src="" alt="Ir a la sección videojuegos">
            </li>
            <li class="itemMenu">
                <span>Retrogaming</span>
                <img src="" alt="Ir a la sección Retrogaming">
            </li>
            <li class="itemMenu">
                <span>Accesorios videojuegos</span>
                <img src="" alt="Ir a la sección Accesorios videojuegos">
            </li>
            <li class="itemMenu">
                <span>PC Gaming</span>
                <img src="" alt="Ir a la sección PC Gaming">
            </li>
        </ul>
    </nav>
    <div class="mainCategories">
        <ul>
            <li class="mainCategoriesItem">
                <a href="#">PlayStation</a>
            </li>
            <li class="mainCategoriesItem">
                <a href="#">XBOX</a>
            </li>
            <li class="mainCategoriesItem">
                <a href="#">Nintendo Switch</a>
            </li>
            <li class="mainCategoriesItem">
                <a href="#">Computadores</a>
            </li>
        </ul>
    </div>
</div>