<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <section class="login">

        <article class="login-1">
            <a href="/" target="_self" class="logoBrand">
                <img src="images/logoColor.svg" alt="Ir a gamebox home">
            </a>

            <div class="formWrapper">
                <div class="login-introWrapper">
                    <h1 class="small-title-login">
                        Inicia Sesión
                    </h1>
                    <p class="welcome-login">
                        ¡Bienvenido de nuevo! Ingresa con tu correo electrónico y contraseña
                    </p>
                    <% if (locals.errors && errors.email) { %>
                     <p>
                         <%= errors.email.msg  %> 
                     </p>
                    <% } %>
                </div>

                <div class="form-login">
                    <form action="/usuarios/login" method="POST">

                        <div class="input-wrapper">
                            <input type="text" name="email" class="input" placeholder=" " id="email">
                            <label for="email" class="label">Correo electrónico</label>
                        </div>

                        <div class="input-wrapper">
                            <input class="input" type="password" name="password" placeholder=" ">
                            <label for="password" class="label" id="label">Password</label>
                            <span class="icon"></span>
                        </div>

                        <a class="linkSmall" href="#">Recuperar contraseña</a>

                        <div class="checkboxWrapper">
                            <input  type="checkbox" name="sesion" id="checkboxSesion" class="checkbox">
                            <label for="checkboxSesion" class="checkboxLabel">Mantener mi sesión
                                iniciada</label>
                        </div>

                        <button class="btn-get-in">Ingresa ahora</button>
                    </form>
                </div>
            </div>

            <p class="no-account">¿No tienes una cuenta? <a class="linkNormal" href="/registro">Regístrate</a></p>
        </article>

        <article class="login-2">
            <div class="login-img-text">
                ¿Qué esperas para vivir <br> tu próxima gran aventura?
            </div>
        </article>

    </section>
</body>

</html>