<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>
    Landing para perfil de usuario
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>