<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Carrito de compra | Gamebox</title>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>

    <section class="cart">
      <article class="cart-1">
        <h1 class="small-title-cart">Carrito de compras</h1>
        <a class="linkSmall" href="#">Continuar comprando</a>
      </article>

      <article class="cart-2">
        <section class="products">
          <article class="product">
            <div class="product-main">
              <img
                src="static/images/last-of-us-cover.png"
                alt="the last of us 2"
              />
              <div class="product-texts">
                <p class="product-title">The last of us: Parte 2</p>
                <p class="product-subtitle">Play Station 4</p>
              </div>
            </div>
            <div class="product-quantity">1</div>
            <p class="product-price">$ 170.000</p>
            <div class="product-erase">
              <button class="btn-erase">Eliminar del carrito</button>
            </div>
          </article>

          <article class="product">
            <div class="product-main">
              <img src="static/images/cyberpunk-cover.png" alt="ciberpunk" />
              <div class="product-texts">
                <p class="product-title">Cyberpunk 2077</p>
                <p class="product-subtitle">Play Station 4</p>
              </div>
            </div>
            <div class="product-quantity">1</div>
            <p class="product-price">$ 170.000</p>
            <div class="product-erase">
              <button class="btn-erase">Eliminar del carrito</button>
            </div>
          </article>
        </section>
        <section class="payment-methods">
          <h4 class="small-title-cart">Medios de pago</h4>
          <div class="payment-methods-types">
            <img
              src="static/images/credit-cards.png"
              alt="tarjetas de credito"
            />
            <!-- <img class="daviplata" src="static/images/daviplata.png" alt="daviplata" />
            <img class="nequi" src="static/images/nequi.png" alt="nequi" /> -->
          </div>
        </section>

        <section class="order-summary">
          <h4 class="small-title-cart">Resumen de tu orden</h4>
         
           <div class="summary">
                <p>Productos</p>
                <p>$218.700</p>
           </div>
           <div class="summary">
                <p>Impuesto 19%</p>
                <p>$51.300</p>
           </div>
            <div class="summary">
                <p>Envio</p>
                <p>Gratis</p>
            </div>

         

          <div class="form-cart">
            <form action="" method="POST">
              <div class="input-wrapper">
                <input
                  type="text"
                  name="discount"
                  class="input"
                  placeholder=" "
                  id="discount"
                />
                <label for="discount" class="label"
                  >¿Tienes un descuento?</label
                >
              </div>
              <div class="summary">
                <p>Subtotal</p>
                <p>$270.000</p>
            </div>


              <button class="btn-pay">Proceder con el pago</button>
            </form>
          </div>
        </section>

        <section class="banner-cart">
          <p>Preocupate solo por jugar</p>
          <p>Envios gratis con compras superiores a $200.000</p>
          <img src="static/images/banner-cart.png" alt="" />
        </section>
      </article>
    </section>

    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
