<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
    crossorigin="anonymous"
    />
    <title>Registro</title>
</head>
<body>

    <section class= "register">


        <article class="register-1">
            <a href="/" target="_self" class="logoBrand">
                <img src="static/images/logoColor.svg" alt="Ir a gamebox home">
            </a>

            <div class="formWrapper">

                <div class="register-introWrapper">
                    <h1 class="small-title-register">
                        Regístrate
                    </h1>
                    <p class="register-login">
                        Recibirás un correo electrónico para completar la configuración en unos segundos
                    </p>
                </div>

            <div class="form-register">
                <form action="" method="POST">
             
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="name"  placeholder=" " id="name">
                        <label for="name" class="label">Nombre</label>
                    </div>

                    <div class="input-wrapper">
                        <input class="input" type="text" name="email"  placeholder=" " id="email">
                        <label for="email" class="label">Correo electrónico</label>
                    </div>

                    <div class="input-wrapper">
                        <input class="input" type="password" name="password" placeholder=" " id="password">
                        <label for="password" class="label" id="label">Password</label>
                        <span class="icon"></span>
                    </div>


                    <div class="checkboxWrapper">
                        <input type="checkbox" name="terms" id="checkboxTerms" class="checkbox">
                        <label for="checkboxTerms" class="checkboxLabel">Acepto <a class="linkNormal" href="#"> términos y condiciones </a> del servicio
                        </label>
                    </div>

                    <button class="btn-get-in">Crear cuenta</button>

                </form> 
            </div>

            </div>
    
            <p class="already-account">
                ¿Ya tienes cuenta? <a class="linkNormal" href="/login">Inicia sesión</a>
            </p>
        </article>
    
        <article class="register-2"> 
            <div class="register-img-text">        
                Únete a nuestra comunidad y accede a descuentos exclusivos
            </div>
        </article>
    
        </section>
   
   
   
    
</body>
</html>